body {
   background: url(../images/bg1.jpg); 
  
}

.site {
    font-family: 'Holtwood One SC', sans-serif;
}

.text-logo {
    font-family: 'Holtwood One SC', sans-serif;
    color: #CD5C5C;
    text-shadow: 2px 2px #ffd301;
    font-size: 50px;
    padding: 40px 0px;
    text-align: center;
}

.nav {
    margin-bottom: 40px;
}

.price {
    background: #CD5C5C;
    box-shadow: 0 1px rgba(0, 0, 0,0.2);
    -moz-box-shadow: 0 1px rgba(0, 0, 0,0.2);
    -webkit-box-shadow: 0 1px  rgba(0, 0, 0,0.2);
    color: #fff;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}

.caption > h4 {
    color: #CD5C5C;
    font-size: 18px;
}

.btn-order {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #CD5C5C;
    text-decoration: none;
}

.btn-order:hover, .btn-order:focus {
    color: #fff;
    background-color: #c13c0d;
}